@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--background:#F5F5F5;
--negro:#000000;
--primary:#EFBAD3;
--secondary:#B074EE;
--btn:#A163F5;
--claro:#D8A1DD;
--violeta:#832BFF;
--clarito:#d5b3f5;
--gris:#666;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Poppins';
}

body {
    font-family: 'Poppins';
    background-image: url(./img/fondo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--gris);
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background:none;
    width: 100%;
}

.navbar {
    display: flex;
}


.logo {
    height: 70px;
    

}

.main {
    max-width: 1200px;
    height: 75vh;
    margin: 0 auto;
}

.login {
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   background-color: rgba(213, 183, 255, 0.3); 
   border-radius: 10px;
   width: 30%;
   height: 66%;
   margin-top: 10px;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.login-title {
    text-align: center;
    border-bottom: 1 px solid silver;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: 600;
    background: linear-gradient(45deg, #A163F5, #D8A1DD, #d5b3f5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    text-transform: uppercase;
}


.login form {

    padding: 0 40px;
    box-sizing: border-box;
}
form .user-login {
    position: relative;
    border-bottom: 2px solid var(--claro);
    margin: 25px 0;
}

.user-login input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline:none;
}
.user-login label {
position: relative;
top: 50%;
left: 5px;
color: var(--gris);
transform: translateY(50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}

button {
    width: 100%;
    height: 50px;
    background-color: var(--clarito);
    border: 0px solid var(--violeta);
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: var(--background);
    text-transform: uppercase;
    transition: all 0.4s linear;
    border-radius: 25px;
}

form button:hover {
    background-color: var(--btn);
    transition: all 0.4s linear;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: var(--btn);
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
    color: var(--violeta);
}
.registrarse {
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    color: var(--gris);
}
.registrarse a {
    color: var(--btn);
}
.registrarse a:hover {
    text-decoration: underline;
    color: var(--violeta);
}



@media screen and (max-width:800px) { 



    .logo {
        height: 60px;
    }
    
    .login {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .login-title {
        font-size: 25px;
    }

    .user-login input {
        font-size: 13px;
        padding: 8px;
    }
    .recordar {
        font-size: 11px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .registrarse {
        font-size: 11px;
    }



}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(213, 179, 245, 0.5); 
    margin-top: 30px;
    width: 100%;
    padding: 10px 20px;    
}

.footer-nav {
    display: flex;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    height: 60%;
    justify-content: space-around;
    background-color:none;
    
}
.footer-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.footer-nav-link {
    color: var(--secondary);
    text-transform: uppercase;
    margin-bottom:5px;
    font-weight: 600;
    font-size: 22px;
}

.p-footer {
    font-weight: 400;
    margin-top: 2px;
    text-align: center;
    margin: 5px 0;
    color: var(--gris);
    cursor: pointer;   
}

#pfooter:hover {
    text-decoration: underline;

}
.footer-p {
    padding-top: 10px;
    color: var(--secondary);
    text-align: center;
    font-weight: 600;
    background-color: none;
}
.divider {
    width: 50%;
    height: 0.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--background);
    display: inline-block;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


@media (max-width: 576px) {

.footer {
    max-height: 90%;
    max-width: 100%;
    padding: 0;
    
}
.footer-nav {
        
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 80%;
    margin-top: 5px;
   
    
}

.footer-nav-item {
    flex-wrap: wrap;
    text-align: center;
   
}

.footer-nav-link {
    text-align: center;
    font-size: 25px;
}

.p-footer {
    font-size: 12px;
    text-align: center;
}
}
